# Requirements

# Must be on Windows platform
# Python Version: 3.7
# Usage: pip install -r requirements.txt

# Packages --------------------------------
tk
keras>=2.6.0
pyqt5>=5.12.3
numpy>=1.21.6
opencv-python>=4.5.5
scikit-learn==1.0.2
easygui
Pillow>=9.1.0
matplotlib>=3.5.1
# ------------------------------------------
